.home-newsletter {
padding: 30px 0;
background: #47b9c9;

}

.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
z-index: 2; }

.home-newsletter .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 10px; }

.home-newsletter .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }

.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }

.home-newsletter .single .btn {
min-height: 50px;
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}

.home-newsletter .single p
{
  color: white;
}

.wrapper
{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
